* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-image: url('background.jpg'); /* Add background image */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

.announcement {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.announcement h2 {
    margin-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form select, 
.login-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-btn {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1f221f;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#close-btn {
    padding: 10px;
    background-color: #d0021b;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-btn:hover {
    background-color: green;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-box {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .login-box {
        padding: 15px;
    }
}